[data-accent="blue"] {
  --accent-500: #3b82f6;
  --accent-400: #60a5fa;
  --accent-300: #93c5fd;
}

[data-accent="green"],
:root {
  --accent-500: #22c55e;
  --accent-400: #4ade80;
  --accent-300: #86efac;
}

[data-accent="teal"] {
  --accent-500: #14b8a6;
  --accent-400: #2dd4bf;
  --accent-300: #5eead4;
}

[data-accent="indigo"] {
  --accent-500: #6366f1;
  --accent-400: #818cf8;
  --accent-300: #a5b4fc;
}

[data-accent="purple"] {
  --accent-500: #8b5cf6;
  --accent-400: #a78bfa;
  --accent-300: #c4b5fd;
}

[data-accent="orange"] {
  --accent-500: #f97316;
  --accent-400: #fb923c;
  --accent-300: #fdba74;
}

[data-accent="pink"] {
  --accent-500: #ec4899;
  --accent-400: #f472b6;
  --accent-300: #f9a8d4;
}

[data-accent="red"] {
  --accent-500: #ef4444;
  --accent-400: #f87171;
  --accent-300: #fca5a5;
}

[data-accent="yellow"] {
  --accent-500: #eab308;
  --accent-400: #facc15;
  --accent-300: #fde047;
}
